.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: linear-gradient(#328BDB 0%, #207BCF 10%, #1973C9 20%, #0A65BF 40%, #0000CD 100%);
    -fx-text-fill: mediumblue;
}

.list-cell {
    -fx-background-color: linear-gradient(#328BDB 25%, #207BCF 50%, #1973C9 75%, #0A65BF 100%);
}


.list-cell:filled:hover {
    -fx-background-color: linear-gradient(#0A65BF 25%, #1973C9 50%, #207BCF 75%, #207BCF 100%);
}


.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: #0A65BF;
    -fx-opacity: 75%;
}

