/*.list-cell{
    -fx-background-color: #FEF1E1;
    -fx-font-size: 14pt;

}
.root{
    -fx-background-color: #FEF1E1;
}*/

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    //-fx-background-color: linear-gradient(#ff6600 0%, #ff751a 10%, #ff8533 20%, #ff944d 40%, #fec28e 100%);
    -fx-text-fill: black;
    -fx-background-color: #FEF1E1;

}
.list-cell:selected{
    -fx-text-fill: black;
    -fx-font-weight: bolder;
}

.list-cell:filled:hover {
    //-fx-background-color: linear-gradient(#ff944d 25%, #ff8533 50%, #ff751a 75%, #ff6600 100%);
    -fx-font-weight: bolder;
    -fx-text-fill: #000000;
}

.list-cell {
    //-fx-background-color: linear-gradient(#ff6600 25%, #ff751a 50%, #ff8533 75%, #ff944d 100%);
    -fx-background-color: white;
    -fx-text-fill: #000000;
}
.label:selected{
    -fx-text-fill: black;
    -fx-font-weight: bolder;
}