
.button{
    -fx-background-color: #fecaa0;
    -fx-border-color: #5d5d5d;
    -fx-font-size: 12pt;
    -fx-text-fill: #4b4b4b;
}


.split-pane:vertical > .split-pane-divider {
    -fx-background-color: transparent;
}
.split-pane{
    -fx-background-color: white;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}
.list-view{
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}


