.root{
    -fx-background-color: #FEF1E1;
}
.pane-background {
    -fx-background-color: #FEF1E1;
}

#pane1{
    -fx-background-color: #FEF1E1;
}

#pane2{
    -fx-background-color: #FFFFFF;
}

#pane3{
    -fx-background-color: #FFFFFF;
}
.button{
    -fx-background-color: linear-gradient(#fef1d5, #fecaa0, #fec28e);
    -fx-border-color: #5d5d5d;
    -fx-font-size: 12pt;
    -fx-text-fill: #4b4b4b;
}
.button:pressed{
    -fx-background-color: linear-gradient(#fee5b7, #fec38d, #feba76);
}
.text-field{
    -fx-focus-color: transparent;
}